Add support for java.time.Instant

I see that this has previously been discussed and rejected: https://github.com/graphql-java/graphql-java-extended-scalars/issues/42 https://github.com/graphql-java/graphql-java-extended-scalars/pull/26

However, I don't believe that the reasoning is correct:

> For Instant and LocalDateTime, the challenge is neither has an offset as @andrewsf said. It would be better for the user to choose the offset rather than the library to assume an offset.

I fully agree regarding LocalDateTime, but java.time.Instant _does_ have an implicit offset of UTC:

> For the segment from 1972-11-03 (exact boundary discussed below) until further notice, the consensus international time scale is UTC (with leap seconds). In this segment, the Java Time-Scale is identical to [UTC-SLS](http://www.cl.cam.ac.uk/~mgk25/time/utc-sls/). This is identical to UTC on days that do not have a leap second. On days that do have a leap second, the leap second is spread equally over the last 1000 seconds of the day, maintaining the appearance of exactly 86400 seconds per day.

https://docs.oracle.com/javase/8/docs/api/java/time/Instant.html

I agree, additionally, Instant is essentially the least common denominator of Date/Time classes. It's the easiest target to get to in a DTO object/record from whatever it is people are using in the backend. 

Instant also both produces and parses ISO 8601 timestamps perfectly as long we you are happy with UTC (and who wouldn't be?)

```java        
        var now = Clock.systemUTC().instant();

        // outputs something like 2025-09-16T19:37:12.109887Z
        System.out.println("now = " + now.toString());

        var withoffset = Instant.parse("2023-10-15T10:15:30+02:00");

        // outputs 2023-10-15T08:15:30Z, note the time change properly reflected in UTC
        System.out.println("withoffset = " + withoffset.toString());
```

This is a nice [spec](https://scalars.graphql.org/andimarek/date-time.html). Unaware of that spec, I felt we had to define the requirements for serialization and deserialization from scratch. Seems this is not the case, which is great.

> “The result must be formatted [...] with the further requirement that UTC offset should always be represented as Z and not +00:00”

From this, I assume, although it's not explicitly spelled out as I would have liked, that the spec itself is telling us that we must use UTC for serialized values, and, furthermore, we must use Z and not +00:00.

There is a tiny ambiguity there though and it's worth mentioning. The quoted text _could_ be interpreted as saying that _whenever_ we choose to use UTC as the timezone, we must use Z and not +00:00. The difference being that, in this interpretation, we are still free to choose the timezone in the result vaue, with the extra stipulation only applying for UTC.

For the purposes of this feature, namely support for `java.time.Instant`, we might choose to interpret the spec as telling us "thou must use UTC" for result values. Personally, I don't particularly feel strongly about this. I'm much more concerned that the timezone is explicit; the spec clarifies that this is indeed the case, which is great. That said, I do support always serializing to UTC, and I suspect the author of the spec means this anyway.

> the spec itself is telling us that we must use UTC for serialized values

I no longer hold this view. Upon reflection, it is my current view that the spec, as an extension of [rfc 3339](https://datatracker.ietf.org/doc/html/rfc3339), is not dictating what offsets must be used.  Certainly, it can't dictate anything specific to `Instant` as it covers all Datetime types. Not only that, but [RFC 3339 section 4.2](https://datatracker.ietf.org/doc/html/rfc3339#section-4.2) actually expresses the usefulness of local time:

> The offset between local time and UTC is often useful information.
   For example, in electronic mail ([RFC2822](https://datatracker.ietf.org/doc/html/rfc2822), [[IMAIL-UPDATE](https://datatracker.ietf.org/doc/html/rfc3339#ref-IMAIL-UPDATE)]) the local
   offset provides a useful heuristic to determine the probability of a
   prompt response.

However, I think we could be justified in assuming that anybody who uses `Instant` is giving up their rights to local offset information, and that we're just going to serialize them as UTC. If they want local offset information, we can state that they should use another type.

Main point though: the specs aren't going to help us make this decision.

 However, what might help us make this decision is the default Java behaiour as pointed out in [this comment](https://github.com/graphql-java/graphql-java-extended-scalars/issues/177#issuecomment-3300114851). If indeed the output here is System-clock independent:

```
// outputs something like 2025-09-16T19:37:12.109887Z
        System.out.println("now = " + now.toString());
```

Then I think we can just follow suit, since this is Java default behaviour, and serialize in a similar way.

An `Instant` does not have any offset. The GraphQL spec requires us to serialize to a format with an offset. Here are some ways we could choose that offset:

1. Derive it from the machine upon which the software is running.
1. Just use some default.
1. Read it from some hardcoded value supplied at runtime or supplied via a resource file.

Here's a nice thought - can we have them all?

I don't know a lot about injecting configuration properties to libraries like this one, but if we could do that I think it would be really nice to have a configuration property to give the developer full control over how to choose the offset. For example, the property could have a hardcoded offset, or a value of `SYSTEM`, and if omitted, we could just use a default value for offset like `Z`.

A side not on `Z` as a default - per [rfc 3339 section 4.3](https://datatracker.ietf.org/doc/html/rfc3339#section-4.3), unknown offsets can be represented by a time in UTC and the offset `-00:00`. I believe this would be the most sensible default for `Instant`. However, this is disallowed by [the GraphQL DateTime spec](https://scalars.graphql.org/andimarek/date-time.html). So I believe we should just pick the next closest thing: `Z`.


What Instant represents is not important for a graphQL API, all that is important is that the serialized DateTime meets the criteria. From the outside its a String, and in Java you could define it as a string, which also does not have a Offset. Instant produces a String that meets the criteria of the API, therefore it is valid. Let developers do what is valid. 

This is going in circles; I can't tell if devils advocate is being invoked here or not.

> The Instant type does not represent an offset. It represents a point in time.

This is a simplification - already discussed above. Per the javadoc for Instant, "This class models a single instantaneous point on _the time-line_."

The time-line in question is Java Time-Scale, which after 1972-11-03, is identical to [UTC-SLS](https://www.cl.cam.ac.uk/~mgk25/time/utc-sls/).

> [I]f I'm in the minority then I'm happy to choose what suits most

I no longer quite hold this view, at least not as I meant it when that statement was made. An analogy has dawned on me since. It's not a perfect fit for this issue, but it's enough to dislodge the above logic.

Suppose engineers are designing a bus. And it needs to allow pedestrians to enter the bus from the footpath without having to step on the road. Engineers decide to raise the floor of the bus up to a level that will clear most footpaths, to satisfy this requirement in most cases.

From my observations, this design alone works for most people; I see most people entering the bus by stepping onto it. But it is does not support the use case of a user in a wheelchair who needs to access the bus. For such a user, an additional feature, a ramp, is needed to allow them to access the bus. If the engineers took the approach of satisfying the majority only, then they would be failing a minority, which is not right.

Now, this analogy doesn't exactly fit this Github issue. A bus is an end-user product. A closer analogue to this in software would be a website. And websites do indeed need to meet accessibility requirements.

But this library is not a user-facing website. It's a bit of a stretch, then, to carry the argument forward to this Github issue. However, it does lead quite naturally to a better design principle than simply a democratic vote. I'm not sure I have that design principle fully nailed down, but here's my best shot:

When designing this library, the ideal functionality should be maximally flexible, within the allowed limits of the governing specs, and with sensible defaults that suit the majority.

Therefore, the democratic vote still applies, but only to the default behaviour. Critically, I don't think people who are not going to use a certain feature should be allowed to veto it just because it doesn't suit _them_. Back to the analogy of the bus, although it's not a perfect fit, this would be like somebody saying "We shouldn't build ramps on buses because _I_ have no use for them." This should not be allowed. The non-ramp user has no place in dictating whether or not the ramp is built. So long as the ramp doesn't significantly impact their user experience, who are they to deny the experience of boarding a bus to those with different phsyical needs?

For some reason my GitHub email notifications have been turned off on this repository and I didn't get any emails for it and I missed this issue completely.

That is not to say it has not had a good life.  Many Github issues would be very jealous of the life this issue had led.

My use case was the same as above. Having `Instant` types that won't serialize or parse is a pain. It forces the library user to modify their application code whereas it would be nicer to have it supported in the library.

For an initial release I'd vote for serliazation from any offset and to UTC, but I would caution designers where possible to allow easy refactoring for serliazation to any other offset (eg system time or a constant), should the need arise. 'Instant' is not bound to UTC by the specs, and there may well be minority use cases for it.

OK there seems to be a lot of interest in this (well if we use words as a proxy for interest) and since this is open source it would be great if some one put up their hand to make a PR and see if they can get this happening.